/* 
    Document   : registerForm
    Created on : 27 Μαρ 2012, 1:14:31 μμ
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
 body {
      background-image:url('images/page_bg.gif');
      overflow: hidden;
      color: #373C40;
  }
.bodywrapRegister {
    width:800px;
    height: 800px;
    margin:0 auto;
    padding:0;
}
.registerDiv {
    margin: 100px auto;
    padding: 0px;
    border:2px solid #F5F5DC;
    border-radius:15px;
    -moz-border-radius:15px;
    width:550px;
    height: 550px;
    background-color: #fff;
    font : normal 12px Verdana, Arial, Helvetica, sans-serif;
    font-size:small;    
}
h1{
    font-weight: 200;
    color: #888;
    font-size: 16pt;
    background: transparent url(images/h1.png) no-repeat center left;
    padding-left: 33px;
    margin: 7px 5px 8px 8px;
}
.registrationRow1{
    width: 500px;
    padding: 5px;
    float: left;
    border: 0px;
    border-top: 1px solid whiteSmoke;
    margin-bottom: 15px;
}
.registrationRow1 legend{
    color: #ABDA0F;
    padding: 2px;
    margin-left: 14px;
    font-weight: bold;
    font-size: 14px;
    font-weight: 100;
}
.registrationRow1 ul{
    margin-left: 5px;
    padding: 3px;
    float: left;
    width: 500px;

}
.registrationRow1 ul li{
    float: none;
    list-style: none;
    padding: 3px;
    line-height: 35px;

}
.registrationRow1 ul li div{
    float: right;
    padding-bottom: 0px

}
.button{
    background: #ABDA0F url(images/overlay.png) repeat-x;
    padding: 0px;
    color: white;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    float: right;
    font-size: 18px;
    margin: 30px 10px;
    border: 0px
}
.registerForm{

}

