/* - - - - - - CSS Document - - - - - - - - -
Title : SmartWizard
Author : http://tech-laboratory.blogspot.com
Date: 
- - - - - - - - - - - - - - - - - - - - - */
  *{margin:0;padding:0}  

 .wiz-containerVertical{
      width:905px;
      height: 450px;
      top:2px;
      margin-left:0px;
      background:#e0e6ed;
      background-image:url("images/gradBack.gif");
      background-repeat:repeat-x;
      overflow:hidden;
      position:relative;
      border:#E0E0E0 solid 1px;
      padding-bottom:0px;   /*12px 0px 2px 5px;*/
      color:#000;
      text-align:left;
      -moz-border-radius:8px;
      -webkit-border-radius: 8px;
      z-index:100;
      font:normal 12px Verdana, Arial, Helvetica, sans-serif;
     
  }
  
  
  .wizard-nav
{
    text-decoration: none;    
    padding: 10px 0;    
    width: auto;
    margin-left:5px;
    color:#000;
    margin-bottom:15px;
    margin-top:10px;
}
.wizard-nav a
{
    color:#000;
    text-decoration: none;
    padding: 10px;
    width: 162.5px;
    display: inline;
    margin: 0; 
    background-color:#EBEBEB;
    border:#E0E0E0 solid 1px;
   -moz-border-radius-bottomright  : 25px;
   -moz-border-radius-topright     : 25px;
   -moz-border-radius-bottomleft   : 2px;
   -moz-border-radius-topleft      : 2px;
   -webkit-border-top-left-radius  : 2px;
   -webkit-border-bottom-left-radius:2px;
   -webkit-border-top-right-radius :20px;
   -webkit-border-bottom-right-radius:20px; 
}
.wizard-nav a.active { background: #EA8511; }

.wizardcontrols .wizardnext { position:absolute; margin-left:800px; width: 50px; bottom:5px }
.wizardcontrols .wizardprev { position:absolute; margin-left: 50px; width: 50px; bottom:5px;}
#FirstPage .wizardcontrols .wizardnext { position:absolute; margin-left:800px; width: 50px; bottom:5px}


  
  /* End Button Styles */

 
/* single tab */


