/* - - - - - - CSS Document - - - - - - - - -
Title : SmartWizard
Author : http://tech-laboratory.blogspot.com
Version: 0.98 
- - - - - - - - - - - - - - - - - - - - - */

  body {font : normal 12px Verdana, Arial, Helvetica, sans-serif;
      font-size:small;
      font:x-small;
      color:#0464BB; 
      margin:0;
      padding:0;
      background-image:url('images/page_bg.gif');
      overflow: hidden

  }

 .wiz-container{
      margin:0;padding:0;
      width:1024px;
      height: 690px;
      left: 5%;
      right:5%;
      top:20px;
      margin:1px;      
      background:#F8F8F8;     
      overflow:hidden;
      position:relative;
      border:#E0E0E0 solid 1px;
      padding:0;   /*12px 0px 2px 5px;*/    
      color:#0464BB;
      text-align:left;
      -moz-border-radius:8px;
      -webkit-border-radius: 8px;
      /*z-index:100;*/
      float:left;
  }
  .wiz-container ul{
    margin:0;padding:0;
    list-style: none; 
    position: relative; 
    padding: 3px ; 
    display:block;
    background:#F8F8F8;
    height:72px;
    margin-left:3px;
    margin-right:3px;
    border-bottom: 1px solid #E0E0E0;
    z-index:100;
  }
  .wiz-container ul li{ 
    margin:0;padding:0;
    position: relative; 
    float: left; 
    border-bottom-width: 0 !important; 
    margin: 0; 
    margin-right: 2px;
    padding: 0; 
  }
  
  .wiz-container ul li a {
    margin:0;
    padding:0;
    display:block;
    text-decoration: none;
    padding-left: 3px;
    height:71px;
    width:210px;
    color:#0464BB;
  }
   
  .wiz-container ul li a:hover {   
    color:#0464BB; 
  }
  
  
  .wiz-anc-default{
    background-color:#EBEBEB; 
    border:#E0E0E0 solid 1px; 
    -moz-border-radius-bottomright  : 25px;
    -moz-border-radius-topright     : 25px;
    -moz-border-radius-bottomleft   : 2px;
    -moz-border-radius-topleft      : 2px; 
    -webkit-border-top-left-radius  : 2px;
    -webkit-border-bottom-left-radius:2px;
    -webkit-border-top-right-radius :20px;
    -webkit-border-bottom-right-radius:20px;    
  }
  .wiz-anc-current{
    color:#FFF !important; 
    background-color:#EA8511;
    border:#EA8511 solid 1px;
    -moz-border-radius-bottomright  : 25px;
    -moz-border-radius-topright     : 25px;
    -moz-border-radius-bottomleft   : 2px;
    -moz-border-radius-topleft      : 2px; 
    -webkit-border-top-left-radius  : 2px;
    -webkit-border-bottom-left-radius:2px;
    -webkit-border-top-right-radius :20px;
    -webkit-border-bottom-right-radius:20px;    
  }
  .wiz-anc-done{
    color:#FFF !important; 
    background-color:#0464BB;
    border:#0464BB solid 1px;
    -moz-border-radius-bottomright  : 25px;
    -moz-border-radius-topright     : 25px;
    -moz-border-radius-bottomleft   : 2px;
    -moz-border-radius-topleft      : 2px; 
    -webkit-border-top-left-radius  : 2px;
    -webkit-border-bottom-left-radius:2px;
    -webkit-border-top-right-radius :20px;
    -webkit-border-bottom-right-radius:20px;
  }
  .wiz-anc-error{ /*wiz-anc-done */
    color:#CD0A0A  !important; 
    /*background-color:#FEF1EC ;*/
    border:#AE1000 solid 1px;
  }  
  .wiz-body{
    display:block; 
    background:transparent; 
    border-bottom: 0px solid #E0E0E0; 
    width:auto;
    
   
  }
  .wiz-body div.wiz-content {
    display:block; 
    position: relative;
    top:0px;
    left:0px;
    text-decoration: none; 
    padding: 3px;
    margin : 3px;
    border-bottom: 0px solid #E0E0E0; 
    height:490px;
    width:auto;
    overflow:auto;
    
    
  }
 
  .wiz-nav {
    display:block; 
    position: absolute;
    left:0px;
    bottom:0px;
    text-decoration: none; 
    padding: 2px 5px 2px 5px;
    background:#F8F8F8 ; 
    height:30px;
    width:99%;
    margin : 0px 0px 5px 0px;
    border: 0px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
  }
  .wiz-nav #next {
    float:right;
  }
  .wiz-nav #back{
    float:left;
  }
  .wiz-nav #done{
    margin-left:30%;
    float:left;
  }
  
  
  /* Button & Textbox Styles */
  h1, h2, h3{
      margin:0;
      padding:0;
  }
  .btn{
      width                 : 100px;
      -moz-border-radius    : 8px;
      -webkit-border-radius : 8px;
      background            : #5A5655;
      color                 : #FFFFFF;
      margin                : 2px 10px 0px 10px;
      padding               : 5px 5px 5px 5px;
      text-align            : center;
      border                : 1px solid #5A5655;    
      text-decoration       : none; 
  }
  .btn:hover{
      background      : #EA8511;
      color           : #FFFFFF;
      border          : 1px solid #EA8511; 
      text-decoration : none; 
  }
  
  .wiz-body .text{ 
    border: 1px solid #E0E0E0; 
    width:300px;
    padding:4px;
  }  
  .wiz-body .text:focus{ 
    border: 1px solid #EA8511; 
  } 
  .wiz-nav div.error{
    font : bold 12px Verdana, Arial, Helvetica, sans-serif;
    display:none;
    position:relative;
    left:30%;
    top:5px;
    width:400px; 
    padding: 5px 5px 5px 10px;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;  
    float:left;
    background:#FFE45C;
    border:1px solid #FED22F;
    color:#363636;    
  }

  p{
      margin-bottom:3px;
      padding-top:5px;
      color:#0464BB;
      
  }
  
.educationalProcessOperationList {

      /*width:125px;*/
      width:98px;
      height:400px;
      margin:0px;
      margin-top:83px;
      
      /*background-image:url('images/operationListInner.png');
      background-repeat:repeat-y;
      */




  }
 /*
.educationalProcessOperationListTop {
    /*background-image:url('images/operationListTop.png');*/
    /*width:125px;
    width:115px;
    height:14px;

}
.educationalProcessOperationListBottom {
    /*background-image:url('images/operationListBottom.png');
    width:124px;
    width:115px;
    height:14px;
    background-color:#fff;
}*/
  .educationalProcessOperationPanelTop{
      float:right;
      width:755px;
      margin-right:1px;
      height:96px;
      margin-top:5px;
      padding:0px;      
      /*background-color:#ede8e8;*/
      /*background-image:url('images/top.png');*/
      background-image:url('images/activityEditorTop.png');
  }
  
  .educationalProcessOperationPanelTop a{
      float:none;
      background:transparent;
      text-decoration:none;

  }
  .educationalProcessOperationPanelTop a:hover{
      background-color:#ffc77e;


  }
  .educationalProcessOperationInnerPallette{
      float:left;      
      margin-left:25px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border: 1px solid #d6ddde;
      margin-top:10px;
      height:55px;
      /*background-color:gray;*/

      

  }
.educationalProcessOperationPanelBottom{
      float:right;
      width:736px;
      height:18px;
      margin-right:10px;
      background-color:#ede8e8;
      background-image:url('images/bottom.png');

  }
  .educationalProcessOperationPanelCentral{      
      float:right;
      margin-right:10px;
      width:736px;
      height:420px;
      background-color:#ede8e8;
      background-image:url('images/sideTable.png');
      background-repeat:repeat-y;


  }
  a.LearningActivity:hover{
      text-decoration : none;
      background-image:url('images/activityButtonSelected.png');
  }
  a.LearningActivity{
      width:88px;
      height:38px;
      border:0px;
      padding:0px;      
      margin:5px;
      margin-top:0px;
      background-image:url('images/activityButton.png');
      display:block;
      text-decoration : none;
      background-color:transparent;
      
  }
  a.LearningActivitySelected{
      width:88px;
      height:38px;
      border:0px;
      padding:0px;
      margin:5px;
      margin-top:0px;      
      display:block;
      text-decoration : none;
      background-color:transparent;
      background-image:url('images/activityButtonSelected.png');
  }
  a.phases:hover{

      background-image:url('images/PhasesButtonSelected.png');
      text-decoration : none;
  }
  a.phases{
      text-decoration : none;
      width:88px;
      height:38px;
      border:0px;
      margin:5px;
      margin-top:0px;
      background-image:url('images/phasesButton.png');
      display:block;
      background-color:transparent;

  }
  a.phasesSelected{
      text-decoration : none;
      width:88px;
      height:38px;
      border:0px;
      margin:5px;
      margin-top:0px;

      display:block;
      background-color:transparent;
      background-image:url('images/PhasesButtonSelected.png');
  }
 a.Roles:hover{

      background-image:url('images/RoleButtonSelected.png');
      text-decoration : none;
  }
  a.Roles{
      text-decoration : none;
      width:88px;
      height:38px;
      border:0px;
      margin:5px;
      margin-top:0px;
      background-image:url('images/RoleButtons.png');
      display:block;
      background-color:transparent;
      
  }
  a.RolesSelected{
      text-decoration : none;
      width:88px;
      height:38px;
      border:0px;
      margin:5px;
      margin-top:0px;
      
      display:block;
      background-color:transparent;
      background-image:url('images/RoleButtonSelected.png');
  }
  a.Groups{
      text-decoration : none;
      width:88px;
      height:38px;
      border:0px;
      margin:5px;
      margin-top:0px;
      background-image:url('images/groupsButton.png');
      display:block;
      background-color:transparent;

  }
  a.Groups:hover{

      background-image:url('images/groupsButtonSelected.png');
      text-decoration : none;
  }
  a.GroupsSelected{
      text-decoration : none;
      width:88px;
      height:38px;
      border:0px;
      margin:5px;
      margin-top:0px;
      background-image:url('images/groupsButtonSelected.png');
      display:block;
      background-color:transparent;


  }
  a.Resources:hover{

      background-image:url('images/ResourcesButtonSelected.png');
      text-decoration : none;
  }
  a.Resources{
      text-decoration : none;
      width:88px;
      height:38px;
      border:0px;
      margin:5px;
      margin-top:0px;
      background-image:url('images/ResourcesButton.png');
      display:block;
      background-color:transparent;

  }
  a.ResourcesSelected{
      text-decoration : none;
      width:88px;
      height:38px;
      border:0px;
      margin:5px;
      margin-top:0px;

      display:block;
      background-color:transparent;
      background-image:url('images/ResourcesButtonSelected.png');
  }
  a.Tools_Material:hover{

      background-image:url('images/Tools&Materials2.png');
      text-decoration : none;
  }
  a.Tools_Material{
      text-decoration : none;
      width:120px;
      height:45px;
      border:0px;
      padding:0px;
      margin:5px;
      margin-top:10px;
      background-image:url('images/Tools&Materials.png');
      display:block;
      background-color:#FFF;
  }
  a.Tools_MaterialSelected {
     width:148px;
      height:55px;
      border:0px;
      padding:0px;
      margin:5px;
      margin-top:10px;
      background-image:url('images/Tools&MaterialSelected.png');
      display:block;
  }

  a.properties:hover{

      background-image:url('images/PropertiesSelected.png');
      text-decoration : none;
  }
  a.properties{
      text-decoration : none;
      width:88px;
      height:38px;
      border:0px;
      margin:5px;
      margin-top:0px;
      background-image:url('images/Properties.png');
      display:block;
      background-color:transparent;

  }
  a.propertiesSelected{
      text-decoration : none;
      width:88px;
      height:38px;
      border:0px;
      margin:5px;
      margin-top:0px;
      display:block;
      background-color:transparent;
      background-image:url('images/PropertiesSelected.png');
  }
  .availableServicesBox{
      overflow:auto;
      padding-top:0px;
      border:solid 1px;
      background-color:#fff;
      width:200px;
      height:150px;
      display:block;
      float:none;
      margin-top:3px;

  }

  
.informationPanel{
      float:left;
      /*width:154px;*/      
      width:165px;
      margin:0px;
      margin-left: 5px;      
      margin-top:88px;
      height: 445px;
      
  }
  .informationPanelTop{
      width:165px;
      height:10px;
      background-image:url('images/informationPanelTop.png');
      
  }
  .informationPanelBottom{
      width:165px;
      height:13px;
      background-image:url('images/informationPannelBottom.png');
      margin:0px;
      padding:0px;
  }
.informationPanelInnerAnchors{
      float:left;      
      margin:0px;
      height:20px;      
  }
div.nicetitle {
    position: absolute;
    padding: 4px;
    top: 0px;
    left: 0px;
    border:#000 solid 1px;
    font-size: 11px;
    color:#FFF;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background: url('images/ntbg.png');
    width:auto;

    /* Mozilla proprietary */
    -moz-border-radius: 12px;
}
div.nicetitle p {
    margin: 0; padding: 0 3px;
     color:#FFF;
}
div.nicetitle p.destination {
    font-size: 9px;
    text-align: left;
     color:#FFF;
    padding-top: 3px;
}
.nicebutton {
    background: transparent url('images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 0px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

.nicebutton span{
    background: transparent url('images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}
.nicebutton.active{
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

.nicebutton.active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

.txtFilB
{
    opacity: 0;
    filter:alpha(opacity=0);
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    z-index: 2;
    
}
.target {
	width: 80px;
	text-align: center;
	border: 2px solid #666666;
	padding: 5px;
	background-color: #00FFFF;
	height: 45px;
	display: block;
	float: left;
}

.tutorial-panel {
    position:absolute;
    top:200px;
    right:-251px;
    padding:0px;
    width: 250px;
    background: #E6E6FA;
    border: #29216d 1px solid;
    border-top-left-radius: 15px 15px;
    border-bottom-left-radius: 15px 15px;
    height: 300px;
    z-index: 2;
}
.tutorial-panel a.tutorial-tab {
    background:transparent url('images/manual.png') no-repeat scroll 0 0;
    cursor: pointer;
    border-width: 1px 1px 1px 0;
    display:block;
    height:129px;
    left:-40px;
    bottom:0px;
    top:85px;
    position:relative;
    float:left;
    text-indent:-9999px;
    width:40px;
    outline:none;
}
#tutorial-area {
    background: #ccc;
    border: 1px solid #999;
    padding:50px;

}
.tutorialSteps{
    list-style: none;
    margin-top:115px;
    position:absolute;
    border-right-style:solid;
    border-right-color:black;
    border-right-width:2px;
    float:left;
}

.tutorialSteps li{
    padding: 5px
}
.tutorialSteps li a{
    text-decoration: none
}
.tutorialStepSelected{
    background-color:#EA8511;
}
.tutorialExplanation{
    float:left;
    background-color:#fff;
    list-style:none;
    margin-left:10px;
    height:300px;
    width:200px;
    
}
.tutorialExplanation li{
    padding:5px

}
.menu-panel {
    position:absolute;
    top:120px;
    right:-81px;
    padding:0px;
    width: 80px;
    background: #E6E6FA;
    border: #29216d 1px solid;
    border-top-left-radius: 15px 15px;
    border-bottom-left-radius: 15px 15px;
    height: 150px;
    
}
.menuSteps li span{
    cursor: pointer
}
.menu-panel a.menu-tab {
    background:transparent url('images/menu.PNG') no-repeat scroll 0 0;
    cursor: pointer;
    border-width: 1px 1px 1px 0;
    display:block;
    height:129px;
    left:-41px;
    bottom:0px;
    top:15px;
    position:relative;
    float:left;
    text-indent:-9999px;
    width:40px;
    outline:none;
}
#menu-area {
    background: #ccc;
    border: 1px solid #999;
    padding:50px;
    

}
.menuSteps{
    list-style: none;
    margin-top:50px;
    position:absolute;
    border-right-style:solid;
    border-right-color:black;
    border-right-width:2px;
    float:left;
}
.menuSteps li{
    padding: 5px
}
.menuSteps li a{
    text-decoration: none
}

#learnerSearchCriteria{
    display: none;
    position:absolute;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 8px 8px 5px #888;
}
.suggestionsBox{
    position:absolute;
    margin: 32px 0px 0px 0px;
    width: 450px;
    background-color: #0464BB;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border:2px solid #000;
    color:#fff;
    overflow: auto;
}
.suggestionList{
    margin:0px;
    padding:0px;
}
.suggestionList li{
    margin:0px 0px 3px 0px;
    padding: 3px;
    cursor: pointer;
}
.suggestionList li:hover{
    background-color: #DD45CD;
}

.WikipediaCorner{
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
   -webkit-box-shadow: -9px -4px 5px rgba(50, 50, 50, 0.77);
-moz-box-shadow:    -9px -4px 5px rgba(50, 50, 50, 0.77);
box-shadow:         -9px -4px 5px rgba(50, 50, 50, 0.77);
    height: 100%;
    width: 100%;
    margin:0px 5px 0px 0px;
  background: #e5ebee; /* Old browsers */
background: -moz-linear-gradient(top,  #e5ebee 0%, #f6f8f9 32%, #f5f7f9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5ebee), color-stop(32%,#f6f8f9), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e5ebee 0%,#f6f8f9 32%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e5ebee 0%,#f6f8f9 32%,#f5f7f9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e5ebee 0%,#f6f8f9 32%,#f5f7f9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e5ebee 0%,#f6f8f9 32%,#f5f7f9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5ebee', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */


}
