/*.OntologyContent{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 6px 5px 8px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    6px 5px 8px rgba(50, 50, 50, 0.75);
    box-shadow:         6px 5px 8px rgba(50, 50, 50, 0.75);
    background: rgb(224, 194, 195);
    background: -moz-linear-gradient(270deg, rgb(224, 194, 195) 28%, rgb(232, 218, 219) 85%);
    background: -webkit-linear-gradient(270deg, rgb(224, 194, 195) 28%, rgb(232, 218, 219) 85%);
    background: -o-linear-gradient(270deg, rgb(224, 194, 195) 28%, rgb(232, 218, 219) 85%);
    background: -ms-linear-gradient(270deg, rgb(224, 194, 195) 28%, rgb(232, 218, 219) 85%);
    background: linear-gradient(270deg, rgb(224, 194, 195) 28%, rgb(232, 218, 219) 85%);
    width:292px;
    height:360px;
    top:0px;
    overflow:auto;
     padding:10px;
}*/
.OntologySideTop{
    background-image:url('images/topOntology.png');    
    width:292px;
    height:20px;
    margin-top:20px;
}
.OntologyContent{
    
    width:292px;
    height:360px;
    top:0px;
    background-image:url('images/ontologyContentBg.png');
    overflow:auto;    
    background-repeat:repeat-y;
    padding:10px;
}
.OntologySideBottom{
    background-image:url('images/OntologyBottom.png');
    width:292px;
    height:20px;
}
    #OntologySide {        
        right:10px;
        z-index:1;
        width: 560px;
        height:500px;
        padding:0px;
        position:absolute;
    }
    
    #OntologySide ul{        
        width:90%;
        overflow:auto;
        float:none;
        border:0px;
        font-family: Verdana, sans-serif;
	font-size: 11px;	
	padding:0px;
        background:transparent;
        
        margin-top:0px;
        height:auto;
        
    }
    #OntologySide ul li{
        list-style: none;
	padding: 0px;
	padding-left: 15px;
	margin: 0px;
        margin-bottom:5px;
	white-space: nowrap;
        display:block;
        height:auto;
    }
    #OntologySide ul a{
        width:100px;
        height:18px;
        border-bottom: 0px;        
        text-decoration: none;
	display: block;
	padding: 0px 2px;
       
    }
   
    #OntologySide ul a:hover{
      
        background: #FFF;
       
    }
    


    
    
    /*
    #leftSide a{
        height:20px;
        background: #FFF;
        border-bottom: 0px;
        width:100px;
    }
    #leftSide a:hover{
        height:20px;
        background: #FFF;
        border-bottom: 0px;
    }*/

    
