.service_label
{
width: 4em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block
}



.service_fieldset
{
border: 1px solid #781351;
width: 28em;
display:none;
padding: 5px;
}

legend
{
color: #fff;
background: #ffa20c;
border: 1px solid #781351;
padding: 2px 6px
}


.odd    { background-color:#def; }
.odd td{
    border-bottom: 1px solid #cef;
}
.even    { background-color:#fff; }
.even td{
    border-bottom: 1px solid #cef;
}

.studentsResultTable{
    width: 100%;
    border: 1px solid #cef;
    text-align: left;
}

.studentsResultTable th{
    font-weight: bold;
    background-color: #acf;
    border-bottom: 1px solid #cef;
}
.studentsResultTable td,th {
    padding: 4px 5px;
}