.th {
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,sans-serif;
	color: #6D929B;
	border-left: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	padding: 3px 6px 3px 5px;/*to left 12px*/
        background: #CAE8EA url(images/bg_header.jpg) no-repeat;
        display:block;
        float:left;
        width:120px; /*75*/
        margin:0px;
        overflow:hidden;

        
}

.th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

.th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url("images/bullet1.gif") no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
}

.th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,sans-serif;
	color: #B4AA9D;
}
.td {
	border-left: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 5px;/*to left 12px*/
	color: #6D929B;
        float:left;
        overflow: hidden;
        width:120px;/*75*/
        margin:0px;
        height:12px;
        white-space: nowrap;
}
.empty {
	background: transparent;
        background: url(../images/delete.gif) no-repeat center;
	padding: 10px 6px 0px 5px;/*to top 6px*/
	color: #0464BB;
        float:left;
        display:block;
        width:16px;
        margin:0px;
        height:16px;

}

.td.alt {
	background: #F5FAFA;
	color: #B4AA9D;
}