
.teamGroup_container{
      margin:0;
      width:99%;
      height: 100%;
      top:20px;      
      background:#F8F8F8;
      overflow:hidden;
      position:relative;
      border:#E0E0E0 solid 1px;
      padding:0;   /*12px 0px 2px 5px;*/
      color:#0464BB;
      
      text-align:left;
      -moz-border-radius:8px;
      -webkit-border-radius: 8px;      
  }
  .teamGroup_container UL {
    margin:0;
    list-style: none;
    position: relative;
    padding: 3px ;
    display:block;
    background:#F8F8F8;
    height:72px;
    margin-left:3px;
    margin-right:3px;
    
  }

  .teamGroup_container UL li{
    margin:0;
    padding:0;
    position: relative;
    float: left;
    border-bottom-width: 0 !important;

  }
  
  .rowStud{
    margin-top:5px;
    padding:3px;
    display:table-cell;
    float: left;
    border-bottom-width: 0 !important;

  }
  /*organize project teams*/
  .project_teams_list{
      font:normal 12px Verdana, Arial, Helvetica, sans-serif;
      color:#0464BB;
      padding:0px;
      margin:0px;
      margin-bottom:3px;
      
  }
  ul.GroupOrganization{
      font:normal 12px Verdana, Arial, Helvetica, sans-serif;
      color:#0464BB;
      list-style:none;
      margin:0;
      padding:0px;
      height:398px;
      top:0px;     
      border:0px;
      background:transparent;
      overflow: auto;
      width:160px;
      
  }

  ul.GroupOrganization li{      
      float: left;
      margin:0px;
      padding-left:3px;
      height:20px;        
      width:157px;
      margin-top: 10px;
      
      
  }
  /*ul.GroupOrganization li ul{
      background:transparent;
      border:0px;
      height:390px;
      padding:0px;
      margin:0px;
      margin-top:8px;
      list-style:none;
      
      overflow: auto;
  }
  ul.GroupOrganization li ul li{
    margin-bottom:20px;
    height:10px;
    float:left;
    border:0px;    
    
  }*/


#add_button{
      background-image: url("images/buttons2.png");
      margin:0;
      width:22px;
      height:22px;
      background-position:center;
      background-color:#F3F3F3;
      border:0px;
  }

  .add_button{
      background-image: url("images/buttons2.png");
      margin:0;
      width:22px;
      height:22px;
      background-position:center;
      background-color:#F3F3F3;
      border:0px;
      float:none;
  }
  .button_add{
      background-image: url("images/button_add.png");
      margin:0;
      width:16px;
      height:16px;
      background-position:center;
      background-color:#F3F3F3;
      border:0px;
      float:none;
      cursor: pointer;
  }
  .delete_button{
      background-image: url("../images/delete.gif");
      margin:0;
      width:17px;
      height:19px;
      background-position:center;
      background-color:#F3F3F3;
      border:0px;
      cursor: pointer
  }

  .Groups_Rows{
      display:none;
      background-image:url('../images/informationPanelInner.png');
      padding:0px;
      padding-left:5px;
      height:424px;
      
  }
  .GroupsRows{
      float:none;
      height:424px;
      overflow:auto;
      font:normal 12px Verdana, Arial, Helvetica, sans-serif;
      color:#0464BB;
      display:none;
      background-image:url('../images/informationPanelInner.png');
      padding-left:5px;

  }
  .GroupsRows ul{
      float:none;
      margin:0px;
      margin-top:5px;
      padding:0px;
      list-style:none;
      background:transparent;
      height:auto;
      border-bottom:0px;

  }
 .GroupsRows ul li{
      float:none;
      margin:0px;
      padding-left:3px;
      display:block;
      margin-top: 10px;

  }
  #addGroup{
      background-image: url("images/addGroup.png");
      margin:0;
      width:41px;
      height:24px;
      border:0px;
      float:none;
      background-color:transparent;
      padding-top:0px;
  }