.add_buttonRole{
      background-image: url("images/buttons3.png");
      margin:0;
      width:14px;
      height:14px;
      background-position:center;
      background-color:#F3F3F3;
      border:0px;
      float:none;
      background-repeat:no-repeat;
      

  }
  .addRole{
      float:none;
      
      height:424px;
      overflow:auto;
      font:normal 12px Verdana, Arial, Helvetica, sans-serif;
      color:#0464BB;
      display:none;
      background-image:url('../images/informationPanelInner.png');
      padding-left:5px;
      
  }
  .addRole ul{
      float:none;
      margin:0px;
      padding:0px;
      list-style:none;
      background:transparent;
      height:auto;
      margin-left:10px;
      border-bottom:0px;
  }
 .addRole ul li{
      float:none;
      margin-left:20px;
      margin-top:0px;
      padding:0px;
      font:normal 10px Verdana, Arial, Helvetica, sans-serif;
      color:#0464BB;
      height:10px;
      display:block;
      padding:0px;
     

  }
  .RoleDefinition{
      float:left;
      width:90%;
      font:normal 12px Verdana, Arial, Helvetica, sans-serif;
      color:#0464BB;
      padding: 8px;
      
  }
  #roleDefinition p{
      margin-bottom:3px;
      padding-top:5px;
      color:#0464BB;
      border-bottom:1px;
      border-bottom-style:solid;
      width:60%;
  }
  .RoleDefinition UL{
      float:left;
      margin:0px;
      padding:0px;
      list-style:none;
      background-color:#fff;
     

  }
   .RoleDefinition UL li{
      float:none;
      margin:0px;
      padding:0px;
      height:50px;
      display:block;
   }
   UL.learner_Rows li{
     padding:2px;
     margin:0px;
     height:20px;
     font:normal 12px Verdana, Arial, Helvetica, sans-serif;
     
   }

   UL.existingRoles{
     margin:0px;
     margin-top:3px;
     padding:0px;     
     overflow:auto;
     list-style:none;
     float:left;
     background:transparent;
     margin-right:10px;
     font:normal 12px Verdana, Arial, Helvetica, sans-serif;
     height: auto;
     
   }
   UL.existingRoles li{
     height:20px;
     float:none;
     line-height:10px;
     background-color:transparent;
     display:block;
     padding:5px;
    
     
   }
