.browsingTeams{   
    width:500px;
    top:0px;
    
    
    
}
a.browsingTeamsAnchor{    
    vertical-align:top;
    border:0px;
    width:125px;
    
   
}
a.browsingTeamsAnchor:link, a.browsingTeamsAnchor:visited,a.browsingTeamsAnchor:active {
    height:2px;
    text-decoration:none;
    border:0px;
    vertical-align:top;
    width:125px;
    
}

a.browsingTeamsAnchor img {
	vertical-align:bottom;
        border:0px;
        
}

#browsing_teamName li{
    width: auto;
    float: left;

}