@charset "utf-8";

/* CSS Document */
* {
    margin: 0;
    padding: 0;

}

body {
    font-size: 75%;
    color: #222;
    background: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6em;
    /*    left: 200px;*/
}

input{
    margin:3px;
    background-color: #FFF;
}
.horizonalTabmenuBG {
    height: auto;
    background: #ABD1F3;
}

/*
*/.horizonalTabmenuBG ul{
    height: 25px;
}/*
.horizonalTabmenuBG li{
    height: 25px;
}*/


#tabnav li,#tabnav li input {
    /*    display: inline;*/
    float:left;
    list-style: none;
    padding-top: 3px;
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 25px;
}
/*#tabnav li input{
        display: inline;
    float:left;
    list-style: none;
    padding-top: 6px;
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 25px;
    width: 40px;
}*/

.mainSubdiv{
   min-height: 500px;
}

#tabnav li a,#tabnav li input {
    padding: 3px;
    border-bottom: none;
    background: #ABD1F3;
    text-decoration: none;
    font-size: 12px;
    background: #E8EBF0;
    border: 1px solid #CCC;
    color: #666;
    float: left;
    margin: 2px;
}

#tabnav li a:hover,#tabnav li input:hover {
    background: #FFFFFF;
    color: red;
    text-decoration: none;
    font-weight:500;
}

#tabnav li input:hover {
    cursor: pointer;
    cursor: hand;
}


#tabnav li a:active,#tabnav li.ui-tabs-selected a {
    background: #FFFFFF;
    color: red;
    /*    text-decoration: bold;*/
    font-weight:500;
}

.ui-tabs-hide {
    display: none;
}

.tabnavVer li a {

    margin-left: 3px;
    margin-bottom: 0;
    margin-top: 0px;
    border: medium;
    text-decoration: none;
}

.tabnavVer li {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    list-style-image: none;
    list-style-type: none;
    clip: rect(auto, 0px, 0px, 0px);
    padding: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: right;
}

.tabnavVer li a {
    margin-left: 3px;
    margin-right: 5px;
    border-bottom: none;
    /*background: #ABD1F3;*/
    text-decoration: none;
    vertical-align:middle;
}

.left {
    float: left;
    margin-right: 3px;
    margin-top: 0px;
}

.left li {
    text-align: right;
    margin-right: 1px;
    margin-left: 0px;
    line-height: 16px;
    margin-top: 1px;
    margin-bottom: 1px;
    background: #EFF5F8;
    border: 1px solid #dedbd1;
    width: 150px;
    min-height:24px;
    vertical-align:middle;
}

.left li a:hover,.left li a:active,.left li.ui-tabs-selected a,.left li.ui-tabs-selected
{
    background: #BDDEE8;
    color: black;

}
.left li:hover{
    background: #BDDEE8;
}
.caregoryTitle {
    background: #D3CA14;
    margin-left: 200px;
}

.subDiv {
    min-height: 130px;
    background: #D0E7F9;
    margin-left: 160px;
    padding: 6px;
    /*    position: static;*/
    width: 565px;
}

.contributeSubDiv {
    width: 565px;
    /* background:#FFF;*/
    margin-left: 5px;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
}

.menuTable {
    margin-right: auto;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 250px;
}

.menuTable th {
    text-align: left;
}

.menuTable tr {

}


.taxonDiv {
    width: 565px;
    /*	margin-left: auto;*/
    margin-right: auto;
    text-align: center;
    margin-top:25px;
    margin-bottom: 10px;
    border: 1px ridge #81C1E9;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    background-color: #E9F3FC;
}
.taxonTable {
    width: 565px;
    background: #FFF;
    /*	margin-left: auto;*/
    margin-right: auto;
    text-align: center;
    margin-top:5px;
    margin-bottom: 10px;
    border: 1px solid #AAD5F0;
}

.taxonTable  th {
    background: #E7F3F8;
    text-align: center;
}

.taxonTable  tr {
    background: #F5FAFC;
    vertical-align: middle;
}


.dateTable {

    border: 1px solid #AAD5F0;
    background:#FFF;
    width:300px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;

}
.dateTable table{
    margin: 3px;
    background-color: #fff;
}

.dateTable th {
    background: #E7F3F8;
    text-align: center; 
    border: 1px ridge #81C1E9;
}

.dateTable tr {
    background: #F5FAFC;
    vertical-align: middle;
    border: 1px ridge #81C1E9;
}





.formTable {
    width: 565px;

    text-align: center;
    margin-top:25px;

    background-color: #E9F3FC;
    border: 1px ridge #81C1E9;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    margin-bottom: 10px;
    margin-right: auto;
    /*    margin-top: 25px;*/
    text-align: center;
}

.formTable select {
    width: 100%;
}
.formTable table{
    background-color: #fff;
}

.formTable th {
    background: #E7F3F8;
    text-align: center;
    border: 1px ridge #81C1E9;
}

.formTable tr {
    background: #F5FAFC;
    vertical-align: middle;
    border: 1px ridge #81C1E9;
}

.closableDiv {
    padding-top: 20px;
    width: 780px;
    height: 30px;
    /*	margin-left: auto;*/
    margin-right: auto;
}

.OrComposite {
    width: 380px;
    background: #FFF;
    border: 1px solid #AAD5F0;
    /*    background:#FFF;*/
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;

    min-height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.OrComposite th {
    background: #E7F3F8;
    text-align: left;
    border: 1px ridge #81C1E9;
}

.OrComposite table {
    margin-bottom: 15px;
    text-align: left;
    margin: 3px;
    background-color: #fff;
}

.OrComposite tr {
    /*    background: #F5FAFF;*/
    background: #F5FAFC;
    vertical-align: middle;
    border: 1px ridge #81C1E9;
}








.mainPlayGround {
    width: 745px;

    background: #E7F3F8;
    text-align: center;
    /*    border: #2e6e9e solid;*/
    background: #E7F3F8;
    /*    position: absolute;*/
    text-align: center;
    width: 740px;
}

.lifecycleContribute {
    min-height: 100px;
    background: #F7FBFD;
    text-align: center;
}

.dateDiv {
    min-height: 100px;
    background: #ea4;
    text-align: center;
}

.innerSubDivBody {
    margin-bottom: 10px;
    min-height: 500px;
    height: auto;
}


button:hover {
    background-color: #D0E7F;
    border: 1px solid #ABD1F3;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    color: #005E8A;
    cursor: pointer;
    font-size: 10px;

    margin: 10px;
    padding: 3px 5px 5px;
}
.button {
    background-color: #F5FAFC;
    border: 1px solid #ABD1F3;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    color: #2C3C49;
    font-size: 10px;
    /*font-weight: 600;*/
    margin: 10px;
    padding: 3px 5px 5px;
}



/*tooltip*/

#tt {
    position:absolute;
    display:block;
    background:url(images/tt_left.gif) top left no-repeat;
}
#tttop {
    display:block;
    height:5px;
    margin-left:5px;
    background:url(images/tt_top.gif) top right no-repeat;
    overflow:hidden;
}
#ttcont {
    display:block;
    padding:2px 12px 3px 7px;
    margin-left:5px;
    background:#666;
    color:#fff;
}
#ttbot {
    display:block;
    height:5px;
    margin-left:5px;
    background:url(images/tt_bottom.gif) top right no-repeat;
    overflow:hidden;
}