.jPaginate{
    height:34px;
    position:relative;
    color:#a5a5a5;
    font-size:small;
	width:100%;
}
.jPaginate a{
    line-height:15px;
    height:18px;
    cursor:pointer;
    padding:2px 5px;
    margin:2px;
    float:left;
}
.jPag-control-back{
	position:absolute;
	left:0px;
}
.jPag-control-front{
	position:absolute;
	top:0px;
}
.jPaginate span{
    cursor:pointer;
}
ul.jPag-pages{
    float:left;
    list-style-type:none;
    margin:0px 0px 0px 0px;
    padding:0px;
}
ul.jPag-pages li{
    display:inline;
    float:left;
    padding:0px;
    margin:0px;
}
ul.jPag-pages li a{
    float:left;
    padding:2px 5px;
}
span.jPag-current{
    cursor:default;
    font-weight:normal;
    line-height:15px;
    height:18px;
    padding:2px 5px;
    margin:2px;
    float:left;
}
ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-next,
span.jPag-sprevious,
span.jPag-snext,
ul.jPag-pages li span.jPag-previous-img,
ul.jPag-pages li span.jPag-next-img,
span.jPag-sprevious-img,
span.jPag-snext-img{
    height:22px;
    margin:2px;
    float:left;
    line-height:18px;
}

ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-previous-img{
    margin:2px 0px 2px 2px;
    font-size:12px;
    font-weight:bold;
        width:10px;

}
ul.jPag-pages li span.jPag-next,
ul.jPag-pages li span.jPag-next-img{
    margin:2px 2px 2px 0px;
    font-size:12px;
    font-weight:bold;
    width:10px;
}
span.jPag-sprevious,
span.jPag-sprevious-img{
    margin:2px 0px 2px 2px;
    font-size:18px;
    width:15px;
    text-align:right;
}
span.jPag-snext,
span.jPag-snext-img{
    margin:2px 2px 2px 0px;
    font-size:18px;
    width:15px;
     text-align:right;
}
ul.jPag-pages li span.jPag-previous-img{
    background:transparent url(../images/previous.png) no-repeat center right;
            }
ul.jPag-pages li span.jPag-next-img{
    background:transparent url(../images/next.png) no-repeat center left;
            }
span.jPag-sprevious-img{
    background:transparent url(../images/sprevious.png) no-repeat center right;
            }
span.jPag-snext-img{
    background:transparent url(../images/snext.png) no-repeat center left;
            }


div#sresults {  margin: 20px 0; }
            div#sresults table { margin: 1em 0; border-collapse: collapse; width: 100%; }
            div#sresults table td, div#sresults table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }

            div#sresultsinner{ margin: 1em 0; border-collapse: collapse; width: 100%; }
            div#sresultsinner td, div#sresultsinner table th { border: 1px solid #eee; padding: .6em 100px; text-align: left; }

            .validateTips { border: 1px solid transparent; padding: 0.3em; }
            .resultsDiv{ width:96%; background-color:#0CF; margin-top:10px; margin-left:1%;}
            .resultsDiv:hover{cursor:pointer; width:96%; background-color:#F7F7F7; margin-top:10px; margin-left:1%;border: 2px dotted #CD0A0A}

            .resultsTable{ margin-bottom:4px; margin-top:4px;}
            .hideElem{ display: none;}
            .resultsTableT{ border-bottom: 1px dashed #696464;
                            border-left: 1px dashed #696464;}
            .resultsTableDsc{ border-bottom: 1px dashed #696464;
                              border-left: 1px dashed #696464;}
            .resultsTable img{ max-width: 90px;max-height: 90px; }
            .results{font-size: 9px;}


            
            #loading
            {
                margin: auto;
                position: absolute;
                /*                background-color: pink;*/
                top: 50%;
                left: 50%;
            }
            