.dhtmlgoodies_tabPane {
	background-color: gray;
	height: 26px;
	position: static;
        margin-top: 10px;
        width:740px;
}

.dhtmlgoodies_tabPane DIV {
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 3px;
	vertical-align: middle;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-color:#CECEEE;
	border-left-style: solid;
	height: 24px;

}

.dhtmlgoodies_tabPane .tabActive {
	margin-left: 3px;
	margin-right: 3px;
	background-color: #E7F3F8;
	cursor: pointer;
	font-weight: bold;
        
}

.dhtmlgoodies_tabPane .tabInactive {
	margin-left: 3px;
	margin-right: 3px;
	background-color: #CECECE;
}

.dhtmlgoodies_tabPane .inactiveTabOver {
	background-color: #FFF;
	cursor: pointer;
	margin-left: 3px;
	margin-right: 3px;
}

.dhtmlgoodies_tabPane {
	background-color: #91C0E3;
}

.dhtmlgoodies_tabPane img {
	float: left;
}
.dhtmlgoodies_aTab{
	height: auto;
}