.window {
  background-color: #D0E7F9;
  border-color: #7F9DB9 #7F9DB9 #7F9DB9 #7F9DB9;
  border-style: groove;
  border-width: 2px;
  margin: 0px;
  padding: 2px;
  position: absolute;
  text-align: left;
  visibility: hidden;
}

.titleBar {
  background-color: #ABD1F3;
  cursor: default;
  color: #005E8A;
  font-family: "MS Sans Serif", "Arial", "Helvetica", sans-serif;
  font-size: 6pt;
  font-weight: bold;
  margin: 0px;
  padding: 2px 2px 2px .5em;
  text-align: right;
  white-space: nowrap;
}

.titleBarText {
  float: left;
  overflow: hidden;
  text-align: left;
}

.titleBarButtons {
  border-style: none;
  border-width: 0px;
  vertical-align: middle;
  width: 50px;
  height: 14px;
}

.clientArea {
  background-color: #FAFDFE;
  border-color: #404040 #e0e0e0 #f0f0f0 #505050;
  border-style: hidden;
  border-width: 0px;
  color: #000000;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px; 
  padding: 0px;
  height:auto;
  overflow:auto;
}
