
  
  .uploadGif{
      margin:20px 0px 0px 120px;
      width: 32px;
      height: 32px;
      display: none;
      clear:both

      
}
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:5px 10px 5px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    clear:both;
    display:none;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/notice.png');
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
    display:none
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.png');
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');    
    display:none;
    
}
.exit{
    float:right;
    text-decoration: underline;
    color: #000;
    margin-top: 6px;
    cursor: pointer;
}