
.add_buttonPhase{
      background-image: url("images/buttons3.png");
      margin:0;
      width:14px;
      
      background-position:center;
      background-color:#F3F3F3;
      border:0px;
      float:none;
      background-repeat:no-repeat;


  }
  .Phse{
      float:none;
      height:424px;
      overflow:auto;
      font:normal 12px Verdana, Arial, Helvetica, sans-serif;
      color:#0464BB;
      display:block;
      background-image:url('../images/informationPanelInner.png');
      padding-left:5px;

  }
  
  .Phase{
      float:none;
      height:424px;
      overflow:auto;
      font:normal 12px Verdana, Arial, Helvetica, sans-serif;
      color:#0464BB;
      display:block;
      background-image:url('../images/informationPanelInner.png');
      padding-left:5px;

  }
  .Phase ul{      
      float:none;
      margin:0px;
      margin-top:5px;
      padding:0px 0px 0px 5px;
      list-style:none;
      background:transparent;
      height:auto;      
      border-bottom:0px;
      
  }
 .Phase ul li{
      float:none;      
      margin:0px;
      padding-left:3px;        
      display:block;
      margin-top: 10px;
      
  }
  .PhaseDefinition{
      float:left;
      width:100%;
      font:normal 12px Verdana, Arial, Helvetica, sans-serif;
      color:#0464BB;


  }
  .PhaseDefinition UL{
      float:left;
      margin:0px;
      padding:0px;
      list-style:none;
      background-color:#fff;


  }
   .PhaseDefinition UL li{
      float:none;
      margin:0px;
      padding:0px;
      height:30px;
      display:block;
   }
   UL.Phase_Rows li{
     padding:2px;
     margin:0px;
     height:20px;
     font:normal 12px Verdana, Arial, Helvetica, sans-serif;

   }

   /*UL.existingPhases{
     margin:0px;
     margin-top:3px;
     padding:0px;
     height:250px;
     overflow:auto;
     list-style:none;
     float:left;
     background:transparent;
     width:50%;
     font:normal 12px Verdana, Arial, Helvetica, sans-serif;


   }
   UL.existingPhases li{
     height:20px;
     float:none;
     line-height:3px;
     background-color:transparent;
     display:block;

  }*/
 .completeThisPhasePanel{   
   float:left;
   margin-left:0px;   
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border: 1px solid #d6ddde;
   margin-top:5px;
   line-height:24px;
   color: #0464BB;
   width:auto;
   vertical-align:middle;
   margin-right:8px;
   background:transparent;   
   font-family: Verdana, Arial, Helvetica, sans-serif;
 }
 
 .checkbox, .radio {
    width: 19px;
    height: 25px;
    padding: 0 3px 0 0;
    background: url(../LearningActivities/images/checkbox.png) no-repeat;
    display: block;
    clear: left;
    float: left;
   
    
 }
 .radio {
    background: url(../LearningActivities/images/radio.png) no-repeat;
  }

  .PhaseTab{
      width:500px;      
      margin-top:0px;
      margin-left:3px;
      padding-left:5px;      
      background-repeat:no-repeat;
      background: transparent;
      height: auto;
      display:none;      
      font:normal 16px Lucida,Verdana, Arial, Helvetica, sans-serif;
      padding-left:16px;
      overflow: auto;
  }
  

 .SelectionDropDown
{
    position:absolute;
    width:auto;
    height:auto;
    margin: 0;
    left:150px;
    padding: 0;
    background: #EAEBD8;
    border: 1px solid #5970B2;
    z-index:50;
}

.SelectionDropDown a
{
    display: block;
    margin: 0;
    padding: 5px 10px;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #EAEBD8;
    color: #2875DE;
    font: 11px arial
}

.SelectionDropDown a:hover
{
    background: #49A3FF;
   color: #FFF
}


#phaseTab{
   position:relative;
   width: 360px;
   overflow: hidden;
   height:auto;
   float:left;
    /*border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 2px;*/
    margin-left:13px;
}
#phaseTab ul{
 
list-style: none;
margin: 0;
padding: 0;
width: 450px;
height: 25px;
background: transparent;
border-bottom-width: 2px;


}

#phaseTab li{
float: left;
margin: 0;
padding: 0;
top: 0px;
width:auto;


}

#phaseTab a{
position:relative;
top: 5px;
background: url(../images/tab-blue-left.gif) no-repeat left top;
margin: 0;
margin-right: 3px; /*Spacing between each tab*/
padding: 0 0 0 9px;
text-decoration: none;
font-size: 11px;
height: auto;
width: 61px;
cursor: pointer;
float:left;
}

#phaseTab a span{

display: block;
background: url(../images/tab-blue-right.gif) no-repeat right top;
padding: 5px 14px 1px 1px;
color: black;
overflow: hidden;
float:left;
}


#phaseTab a span {float:none;}



#phaseTab .selected a{
background-position: 0 -125px;
top: 0;
}

#phaseTab .selected a span{
background-position: 100% -125px;
color: black;
padding-bottom: 8px; 
top: 0;
}

#phaseTab a:hover{
background-position: 0% -125px;
top: 0;
}

#phaseTab a:hover span{
background-position: 100% -125px;
padding-bottom: 8px; 
top: 0;
}
#leftSide{
    background-image:url(../images/leftAlt3.png);
    width:40px;
    height:40px;
    float:left;
    margin-left:10px;
    display:none;
    cursor: pointer;
}
#rightSide{
    background-image:url(../images/rightAlt3.png);
    width:40px;
    height:40px;
    float:left;
    display:none;
    cursor: pointer;
}