
  .propertiesPanel{
    padding-left:5px;
    display:none;
    font:normal 12px Verdana, Arial, Helvetica, sans-serif;
    color:#0464BB;
    overflow:auto;
    height:424px;
    background-color:transparent;
    background-image:url('../images/informationPanelInner.png');
    overflow: auto;

}
.propertiesPanel UL{
      float:none ;
      height:auto;
      margin:0px;
      padding:0px;
      list-style:none;
      background:transparent;
      border:0px;

  }
.propertiesPanel UL li{
      float:none;
      margin:0px;
      padding-left:3px;
      height:20px;
      display:block;

   }
   .Properties_container{
       padding:8px;
       margin:0px;
       display:block;
       clear:both;       
       width:auto;
       color:#0464BB;
       

   }
  .Properties_container ul{
    list-style:none;
    border:0px;
    height:auto;
   
}
.Properties_container ul li{
    float:none;
    height:50px;
    
}
#PropertiesDefinition p{
      margin-bottom:3px;
      padding-top:5px;
      color:#0464BB;
      border-bottom:1px;
      border-bottom-style:solid;
      width:60%;

  }
.orConditionDefinition{
       padding:8px;
       margin:0px;
       display:block;
       clear:both;
       width:auto;
       color:#0464BB;


   }
   #orConditionDefinition{
       padding:0px;
       margin:0px;
       display:block;
       clear:both;
       width:auto;
       color:#0464BB;
       height: 200px;
       overflow: auto

   }
  