.activitiesPanel{
    padding-left:5px;
    display:none;
    font:normal 12px Verdana, Arial, Helvetica, sans-serif;
    color:#0464BB;
    overflow:auto;
    height:424px;
    background-color:transparent;
    background-image:url('../images/informationPanelInner.png');
    overflow: auto;
    /*width:149px;*/
    width:160px;
    
}
.activitiesPanel UL{
      float:none ;
      height:auto;
      margin:0px;
      padding:0px;      
      list-style:none;
      background:transparent;
      border:0px;
      clear: both;
      
      
  }
.activitiesPanel UL li{      
      margin:0px;
      padding:0px;
      height:20px;
      clear: both;
      display:block;
      margin-top: 15px;
      
   }

   .completionActivityParam{
       float:left;
       height:300px;
       overflow:auto;
       
   }
   .completionActivityParam ul{
       float:left;
       padding:0px;
       font:normal 12px Verdana, Arial, Helvetica, sans-serif;
       color:#0464BB;
       list-style:none;
       background-color:transparent;
       
       
   }
   .completionActivityParam ul li{
       display:block;
       float:none;
       
       margin-left:2px;
       height:30px;




   }
   .activityCompletion{
       font:normal 12px Verdana, Arial, Helvetica, sans-serif;
       color:#0464BB;              
       width:100%;
       height:100%;
       background:transparent;
   }